<p id="notice"><%= notice %></p>

<h1>Pictures</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= link_to image_tag(picture.image), picture %></td>
        <td><img src="<%= picture.image %>" alt=""></td>
        <td><%= link_to 'Show', user_picture_path(current_user,picture) %></td>
        <td><%= link_to 'Edit', edit_user_picture_path(current_user,picture) %></td>
        <td><%= link_to 'Destroy', [current_user, picture], confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>

    <% if user_signed_in? %>
      <li>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      </li>
    <% else %>
      <li>
        <%= link_to('Login', new_user_session_path)  %>
      </li>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Picture', new_user_picture_path(current_user) %>
