<p id="notice"><%= notice %></p>

<h1>Pictures</h1>

<table>
  <thead>
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Kaushan+Script|Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/modernizr.js"></script>
</head>

</html>


  </thead>
  <style media="screen">
      img {
        width: 200px;
        height: auto;
      }
  </style>

  <tbody>

      <% @pictures.reverse.each do |picture| %>
      <h6>
          <%= picture.user.email %><br>
          <%= time_ago_in_words(picture.created_at)%> ago
      </h6>

      <%= link_to image_tag(picture.image), like_picture_path(picture), method: :put %><br>
      <%= link_to 'Delete', [current_user, picture], confirm: 'Are you sure?', method: :delete %></td>
      <%= link_to like_picture_path(picture), method: :put do %>
        Likes
      <%= picture.count_votes_up %>
      <% end %>
      <%= link_to dislike_picture_path(picture), method: :put do %>
        Unlike
      <% end %>
        <%= link_to 'Add Comment', new_picture_comment_path(picture) %><br>
        <% picture.comments.each do |comment| %>
          <%= comment.user.email %>
        <%= comment.comment.slice(0,50) %>
        <br>
        <% end %>

    <% end %>

  </tbody>
</table>
