<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
</p>
<style media="screen">
img {
      width: 200px;
      height: auto;
    }
</style>
<p>
</p>
<% @picture.comments.each do |comment| %>
  <img src="<%= @picture.image %>" alt="">
  <td><%= comment.user.email %></td><br>
  <td><%= comment.comment %></td><br>
<% end %>


<td><%= link_to 'Destroy', [current_user, @picture], confirm: 'Are you sure?', method: :delete %></td>
<%= link_to 'Back', user_pictures_path(current_user) %>
