<p id="notice"><%= notice %></p>
  <style media="screen">
  img {
        width: 100%;
        height: auto;
      }
  </style>
  <%= @picture.user.email %>
  <%= time_ago_in_words(@picture.created_at)%> ago<br>

  <img src="<%= @picture.image %>" alt="">
    <%= link_to like_picture_path(@picture), method: :put do %><br>
      Likes
      <%= @picture.count_votes_up %>
      <% end %>

      <%= link_to dislike_picture_path(@picture), method: :put do %>
        Unlike
      <% end %><br>

      <% @picture.comments.each do |comment| %>
      <%= comment.user.email %>
      <%= comment.comment.slice(0,50) %><br>
      <% end %><br>
    <%= link_to 'Comment', new_picture_comment_path(@picture) %>



  <%= link_to 'Delete', [current_user, @picture], confirm: 'Are you sure?', method: :delete %>
  <%= link_to 'Back', user_pictures_path(current_user) %>
